<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>22840271782-9nq2e9q9g9f3586o4a0lqd4n18hdfesk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.22840271782-9nq2e9q9g9f3586o4a0lqd4n18hdfesk</string>
	<key>API_KEY</key>
	<string>AIzaSyCQy0LwmYiNgcEXcX3km9oUuLqUc05V9Eg</string>
	<key>GCM_SENDER_ID</key>
	<string>22840271782</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.guitarChords</string>
	<key>PROJECT_ID</key>
	<string>deedzify-52482</string>
	<key>STORAGE_BUCKET</key>
	<string>deedzify-52482.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:22840271782:ios:1ae808d3f1b81f6d3aa567</string>
</dict>
</plist>